<h4>New Reservation</h4>

<% if current_user %>

  <%= form_for([@restaurant, @reservation]) do |f| %>

    <% if @reservation.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

        <ul>
          <% @reservation.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :party_number %><br />
      <%= f.number_field :party_number %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>

  <% end %>

<% else %>
  <p>Please <%= link_to "log in", new_session_path %> to add a review.</p>
<% end %>

<br><%= link_to 'Back', restaurants_path %>