<h1>Seat Yourself!</h1>
<h3>This is where you can make your own reservations without the hassle of calling them yourself!</h3>
<%= link_to "New Restaurant", "/restaurants/new" %> <br />

<% if current_user %>
<%= link_to "Your List of Reservations", user_path(current_user) %>
<% end %>

<h2>Here's a list of all of the restaurants!</h2>


<!-- Search Function -->
<%= form_tag restaurants_path, :method => 'get' do %>
<p>
	<%= text_field_tag :search, params[:search] %>
	<%= submit_tag "Search", :name => nil %>
</p>
<% end %>
<!-- End of Search Function -->

<% @restaurants.each do |restaurant| %>
<p>
	<strong>Name: </strong><%= restaurant.name %><br>
	<strong>Description: </strong><%= restaurant.description %><br>
	<strong>Address: </strong><%= restaurant.address %><br>
	<strong>Phone Number: </strong><%= restaurant.phone_number %><br>
	<strong>Number of total seats: </strong><%= restaurant.num_of_seats %><br>
	<strong>Open: </strong><%= restaurant.open_at %><br>
	<strong>Close: </strong><%= restaurant.close_at %><br>
	<strong>Category: </strong><%= restaurant.category %></p>
<%= link_to (image_tag restaurant.url, width: '200'), restaurant %>
<% end %>

