<%= link_to "Back to Restaurants", restaurants_url %> | <%= link_to "Edit", edit_restaurant_path(@restaurant) %> | <%= link_to "Delete", @restaurant, :confirm => "Are you sure you want to delete this restaurant?", :method => :delete %>


<p><%= @restaurant.name %> <br />
  <%= @restaurant.description%> <br />
  <%= @restaurant.address %> <br />
  <%= @restaurant.phone_number %> <br />
  <%= @restaurant.num_of_seats %> <br />
  <%= @restaurant.open_at %> <br />
  <%= @restaurant.close_at %> <br />
  <%= @restaurant.category %></p>
  <%= link_to "Website", "#{@restaurant.url}", :target => "_blank" %>

<% if current_user %>

  <h3>Reservations</h3>

  <p>Reservations for <%= @restaurant.name %></p>

  <% @restaurant.reservations.each do |reservation| %>
    <p>
      <%= reservation.comment %>
      <br>
      <% if reservation.user != nil %>
        <em> by <%= reservation.user.name %></em>
        Added on: <%= reservation.created_at %>
      <% end %>
    </p>
  <% end %>

  <h4>New Reservation</h4>

  <%= form_for([@restaurant, @reservation]) do |f| %>

    <% if @reservation.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@reservation.errors.count, "error") %> prohibited this reservation from being saved:</h2>

        <ul>
          <% @reservation.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>


    <div class="field">
      <%= f.label :comment %><br />
      <%= f.text_area :comment %>
    </div>


    <div class="field">
      <%= f.label :party_number %><br />
      <%= f.number_field :party_number, :value => 1, :min => 1%>   <!-- Makes an up an down arrow -->
    </div>

    <!-- Have to add Time -->


    <br />
    <div class="actions">
      <%= f.submit %>
    </div>

  <% end %>

<% else %>
  <p>Please <%= link_to "log in", new_session_path %> to add a review.</p>
<% end %>
